.display-flex {
  display: flex;
}

nav {
  margin-top: 4.2rem;
  width: 100%;
}

.navbar {
  width: 100%;
  padding-left: 0;
}

.nav-radious-left {
  border-radius: 3px 0px 0px 3px;
}

.nav-radious-right {
  border-radius: 0px 3px 3px 0px;
}

.top-text {
  font-family: "Yantramanav", sans-serif;
}

.head-container {
  margin: 0 auto;
  width: 61.25rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.navbar > a {
  border-right: 1px solid rgb(88, 88, 88);
}

.nav-item {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 100%;
  background: rgba(150, 150, 150, 1);
  background: -moz-linear-gradient(
    top,
    rgba(150, 150, 150, 1) 0%,
    rgba(112, 112, 112, 1) 50%,
    rgba(94, 94, 94, 1) 51%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(150, 150, 150, 1)),
    color-stop(50%, rgba(112, 112, 112, 1)),
    color-stop(51%, rgba(94, 94, 94, 1)),
    color-stop(100%, rgba(102, 102, 102, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(150, 150, 150, 1) 0%,
    rgba(112, 112, 112, 1) 50%,
    rgba(94, 94, 94, 1) 51%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(150, 150, 150, 1) 0%,
    rgba(112, 112, 112, 1) 50%,
    rgba(94, 94, 94, 1) 51%,
    rgba(102, 102, 102, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(150, 150, 150, 1) 0%,
    rgba(112, 112, 112, 1) 50%,
    rgba(94, 94, 94, 1) 51%,
    rgba(102, 102, 102, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(150, 150, 150, 1) 0%,
    rgba(112, 112, 112, 1) 50%,
    rgba(94, 94, 94, 1) 51%,
    rgba(102, 102, 102, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#666666', GradientType=0 );
}

.hover-yes:hover {
  background: rgba(59, 59, 59, 1);
  background: -moz-linear-gradient(
    top,
    rgba(59, 59, 59, 1) 0%,
    rgba(105, 105, 105, 1) 50%,
    rgba(77, 77, 77, 1) 51%,
    rgba(92, 91, 92, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(59, 59, 59, 1)),
    color-stop(50%, rgba(105, 105, 105, 1)),
    color-stop(51%, rgba(77, 77, 77, 1)),
    color-stop(100%, rgba(92, 91, 92, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(59, 59, 59, 1) 0%,
    rgba(105, 105, 105, 1) 50%,
    rgba(77, 77, 77, 1) 51%,
    rgba(92, 91, 92, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(59, 59, 59, 1) 0%,
    rgba(105, 105, 105, 1) 50%,
    rgba(77, 77, 77, 1) 51%,
    rgba(92, 91, 92, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(59, 59, 59, 1) 0%,
    rgba(105, 105, 105, 1) 50%,
    rgba(77, 77, 77, 1) 51%,
    rgba(92, 91, 92, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(59, 59, 59, 1) 0%,
    rgba(105, 105, 105, 1) 50%,
    rgba(77, 77, 77, 1) 51%,
    rgba(92, 91, 92, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#5c5b5c', GradientType=0 );
}

.nav-field {
  width: 78rem;
}

.main-head {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 35rem;
  background: white url("/assets/your_verse_hero.jpg") 49.5% 102.9% no-repeat;
}

.header-text {
  color: white;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 0;
  align-items: center;
}

.icon-play {
  display: block;
  font-size: 35px;
  margin-bottom: -5px;
}

.what-will {
  font-weight: 200;
  font-size: 65px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.everyone,
.whatch-the {
  font-weight: 200;
  margin: 12px 75px;
}

.everyone {
  font-size: 32px;
}

.whatch-the {
  font-size: 25px;
  margin-top: 25px;
}

.whatch-the:hover {
  text-decoration: underline;
}

article {
  position: absolute;
  width: 100%;
  left: 0;
  top: 33.8rem;
}

.main-promo {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}
.main-promo > li > img {
  width: 100%;
  height: 197px;
}

.main-promo > li {
  width: 335px;
}

.nav-footer {
  position: relative;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 10.3px;
  top: 46.8rem;
  width: 76%;
  left: 0;
  height: 4.5rem;
  display: grid;
  grid-template-columns: 49.5% 50.5%;
  color: gray;
}

.list-footer {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}

.list-footer > li {
  margin-right: 6px;
}

.list-footer > li > a,
.shop-the-apple > a {
  text-decoration: none;
  color: #0096da;
}

.list-footer > li > a:hover,
.shop-the-apple > a:hover {
  text-decoration: underline;
}

.list-footer > li > a > img {
  width: 15px;
}

.shop-the-apple {
  margin-top: 5px;
  margin-left: 18px;
}

.shop-the-apple > ul {
  margin-top: 15px;
}

.input-form {
  background-image: url("assets/search-icon.svg");
  background-size: 12px;
  border-radius: 50px;
  background-position: 5px center;
  background-repeat: no-repeat;
  width: 97px;
  background-color: transparent;
}
